html body{
  background-color:#A5CC6B;
}
.initial{
  text-align: center;
  padding-top: 10%;
}

.divpre{
  padding: 2vw;
}

.thispre{
  background-color: black;
  height: 30vw;
  padding-left: 1vw;
  color: #7BF92B
}
